<div class = "container " >
	<table class="table table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="alert alert-info">
                <th>id</th>
                <th>title</th>
                <th>summary</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{screencast.id}}</td>
                <td>{{screencast.title}}</td>
            </tr>
        </tbody>
    </table>
</table>
 <button class="btn btn-primary " ng-click="casting(screencast)">delete</button>   
</div>